@import url("https://use.typekit.net/rwi0hru.css");

* {
    margin: 0;
    font-family: casablanca-urw, sans-serif;
    font-weight: 500;
    font-style: normal;
}


/* MENU */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #8C0303;
    height: 12vh;
}

nav {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 1em;
}


#logo-titulo {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
}

.logo-massa {
    width: 5vw;
}

/* FIRST SECTION */

#first-container {
    height: 90vh;
    background-image: url(./img/geladeira-cozinha-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


#f1 {
    grid-row: 2;
    font-size: 3em;
    color: #F2F2F2;
    padding: 1em;
    text-shadow: 3px 2px 0px  #592C1C,  9px 2px 9px black,
     15px 2px 30px grey, 2px 2px 2px black;
    padding-bottom: 4em;
}

#f2 {
    grid-row: 3;
    font-size: 3em;
    color: #F2F2F2;
    padding-top: 0;
    padding: 1em;
    text-shadow: 3px 2px 0px  #592C1C,  9px 2px 9px black,
    15px 2px 30px grey, 2px 2px 2px black;
    
}

#f3 {
    display: grid;
    justify-items: center;
    align-items: center;
    font-size: 3em;
    padding-top: 1em;
    padding: 0.5em;
    color:#F2F2F2;
    grid-row: 4;
    text-shadow: 3px 2px 0px #592C1C,  9px 2px 9px black,
     15px 2px 30px grey, 2px 2px 2px black;

}

/* SECOND & THIRD SECTION */
.section-title {
    background-color: #595302;
    padding: 0.5em;
    font-size: 3em;
    color: white;
}

#quem-somos {
    background-color: #A6918A;
}

#quem-somos> p {
    color:  #592C1C;
    padding: 2em;
    font-size: 2em;
}

/* THIRD SECTION ADD-ONS */

#special {
    text-align: end;
}

#servico {
    background-color: #A6918A;
}
    
#servico> p {
    color:  #592C1C;
    padding: 2em;
    font-size: 2em;
    text-align: end;
}

#icons-bonitos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 2em;
}

.icons {
    width: 40vw;
    border: 2px solid #592C1C;

}

/* FOURTH SECTION  */
#onde {
    background-color: #A6918A;
}

#onde> p {
    color:  #592C1C;
    padding: 1em;
    font-size: 2em;
}

iframe {
    padding-bottom: 2em;
    padding-left: 2em;
    width: 50vw;
    height: 60vh;
}

/* FOOTER */

footer {
    background-color: #8C0303;
    height: 18vh;
    width: 100vw;
    display: flex;
    flex-direction: column;

}

footer>p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
    padding: 0.2em;
    padding-top: 0.5em;

}

#redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5em;
    padding: 0.3em;
}

@media screen and (min-device-width : 320px) and (max-device-width : 420px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: #8C0303;
        height: 10vh;
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 1em;
        padding: 0.5em;
    }
    
    

    #f1 {
        display: grid;
        grid-row: 2/2;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-items: center;
        font-size: 1.8em;
    }


    #f2 {
        display: grid;
        grid-row: 3/3;
        margin: 0;
        padding: 0;
        align-items: center;
        justify-items: center;
        font-size: 1.8em;
    }

    #f3 {
        display: grid;
        grid-row: 4;
        grid-column: 1;
        grid-column: 0;
        align-items: center;
        justify-items: center;
        font-size: 1.8em;
    }

    .icons {
        width: 50vw;
    
    }
    
    iframe {
        width: 80vw;
    }
    
    h2 {
        font-size: 2em;
        text-align: center;
    }

    #special {
        text-align: center;
    }
}