/* ex 1 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
  grid-column-start: 3
}

/* ex 2 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#poison {
  grid-column-start: 5;
}

/* ex 3 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
    grid-column-start: 1;
  grid-column-end: 4;
}

/* ex 4 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
    grid-column-start: 5;
  grid-column-end: 2;
}

/* ex 5 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
    grid-column-start: 1;
  grid-column-end: 5;
  }

/* ex 6 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#poison {
  grid-column-start: -3;
}

/* ex 7 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
    grid-column-start: 2;
  grid-column-end: span 2;
}

/* ex 8 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
    grid-column-start: 1;
  grid-column-end: span 5;
}

/* ex 9 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
  grid-column-start: span 3;
    grid-column-end: 6;
}

/* ex 10 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
  grid-column: 4/6;
}

/* ex 11 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
  grid-column: 2/5;
}

/* ex 12 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
  grid-row-start: 3;
}

/* ex 13 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
  grid-row: 3/6;
}

/* ex 14 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#poison {
  grid-column: 2;
  grid-row: 5;
}

/* ex 15 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
  grid-column: 2/6;
  grid-row: 1/6;
}

/* ex 16 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
  grid-area: 1 / 2 / 4 / 6
}

/* ex 17 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water-1 {
    grid-area: 1 / 4 / 6 / 5;
}
  
#water-2 {
  grid-area: 2 / 3 / 5 / 6;
}

/* ex 18 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
.water {
    order: 0;
}
  
#poison {
  order: 1;
}

/* ex 19 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
.water {
    order: 0;
}
  
.poison {
  order: -1;
}

/* ex 20 */
#garden {
    display: grid;
  grid-template-columns: 50% 50%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
    grid-column: 1;
    grid-row: 1;
}

/* ex 21 */
#garden {
    display: grid;
  grid-template-columns: repeat(8, 12.5%);
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
    grid-column: 1;
    grid-row: 1;
}

/* ex 22 */
#garden {
    display: grid;
    grid-template-columns: 100px 3em 40%;
    grid-template-rows: 20% 20% 20% 20% 20%;
 }

/* ex 23 */
#garden {
    display: grid;
  grid-template-columns: 1fr 5fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

/* ex 24 */
#garden {
    display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
  
#water {
    grid-area: 1 / 1 / 6 / 2;
}
  
#poison {
    grid-area: 1 / 5 / 6 / 6;
}

/* ex 25 */
#garden {
    display: grid;
  grid-template-columns: 75px 3fr 2fr;
    grid-template-rows: 100%;
}

/* ex 26 */
#garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 50px 0fr 0fr 0fr;
}
  
#water {
    grid-column: 1 / 6;
    grid-row: 5 / 6;
}

/* ex 27 */
#garden {
    display: grid;
  grid-template: 60% / 200px;
}
  
#water {
    grid-column: 1;
    grid-row: 1;
}

/* ex 28 */
#garden {
    display: grid;
  grid-template: 1fr 50px / 20% 80%;
}