* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #AFEEEE;
}

label {
    ;
}

input {
    border: 1px solid black;
    color: black;
}

select {
    border: 1px solid black;
    color: black;
    margin-left: 3em
}

button {
    border: 1px solid black;
    color: black;
    padding: 0.3em;
    margin-left: 2.5em;
}


section {
    display: flex;
    justify-content: space-evenly;
    height: 90vh;
}

.semana {
    border: 1px dotted rgb(53, 53, 53);
    width: 14%;
    padding: 5px;
}

ul {
    margin-left: 1.5em;
}

@media screen and (min-device-width : 320px) and (max-device-width : 420px) {
    header {
        flex-wrap: wrap;
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
    }

    button {
        padding: 0.3em;
        margin-left: 1em;
    }
    label, select {
        margin-left: 0em;
    }

    .semana {
        width: 100%;
        height: 100%;
    }
}
